<%= form_for(@train) do |f| %>
  <% if @train.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@train.errors.count, "error") %> prohibited this train from being saved:</h2>

      <ul>
      <% @train.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
   <div class="two columns">
    <%= f.label :number , :class => 'right inline' %>
   </div>
   <div class="ten columns">
    <%= f.number_field :number , :class => 'eight'%>
   </div>
  </div>
  <div class="row">
   <div class="two columns">
    <%= f.label :name , :class => 'right inline' %>
   </div>
   <div class="ten columns">
    <%= f.text_field :name , :class => 'eight' %>
   </div>
  </div>
  <div class="row">
   <div class="two columns">
    <%= f.label :from , :class => 'right inline' %>
   </div>
   <div class="ten columns">
    <%= f.text_field :from , :class => 'eight' %>
   </div>
  </div>
  <div class="row">
   <div class="two columns">
    <%= f.label :to , :class => 'right inline' %>
   </div>
   <div class="ten columns">
    <%= f.text_field :to , :class => 'eight' %>
   </div>
  </div>
  <div class="row">
   <div class="two columns">
    <%= f.label :departure , :class => 'right inline' %>
   </div>
   <div class="ten columns">
    <%= f.time_select :departure , :class => 'eight' %>
   </div>
  </div>
  <div class="row">
   <div class="two columns">
    <%= f.label :arrival , :class => 'right inline' %>
   </div>
   <div class="ten columns">
    <%= f.time_select :arrival , :class => 'eight' %>
   </div>
  </div>
  <div class="row">
   <div class="two columns">
    <%= f.label :carrier , :class => 'right inline' %>
   </div>
   <div class="ten columns">
    <%= f.number_field :carrier , :class => 'eight' , :placeholder => '1151-PREG, 1251-PKPIC, 1351-SKMT' %>
   </div>
  </div>
  <div class="row">
    <div class="actions">
      <%= f.submit :class => 'button success' %>
    </div>
  </div>
<% end %>
