<div class="row">
    <h1>Listing trains</h1>
</div>
<div class="row">
    <div class="one column">
        Number
    </div>
    <div class="one column">
        Name
    </div>
    <div class="one column">
        From
    </div>
    <div class="one column">
        To
    </div>
    <div class="one column">
        Departure
    </div>
    <div class="one column">
        Arrival
    </div>
    <div class="one column pull-five">
        Carrier
    </div>
</div>
<% @trains.each do |train| %>
  <div class="row">
    <div class="one column"><%= train.number %></div>
    <div class="one column"><%= train.name %></div>
    <div class="one column"><%= train.from %></div>
    <div class="one column"><%= train.to %></div>
    <div class="one column"><%= train.departure %></div>
    <div class="one column"><%= train.arrival %></div>
    <div class="one column"><%= train.carrier %></div>
    <div class="one column"><%= link_to 'Show', train %></div>
    <div class="one column"><%= link_to 'Edit', edit_train_path(train) %></div>
    <div class="one column pull-two"><%= link_to 'Destroy', train, confirm: 'Are you sure?', method: :delete %></div>
  </div>
<% end %>

<br />
<div class="row">
    <%= link_to 'New Train', new_train_path , :class => 'button' %>
</div>