<% if notice %>
<div class="row">
<div class="alert-box"><%= notice %>
<a href="" class="close">&times;</a>
</div>
</div>
<% end %>

<div class="row">

  <b>Number:</b>
  <%= @train.number %>
</div>

<div class="row">
  <b>Name:</b>
  <%= @train.name %>
</div>

<div class="row">
  <b>From:</b>
  <%= @train.from %>
</div>

<div class="row">
  <b>To:</b>
  <%= @train.to %>
</div>

<div class="row">
  <b>Departure:</b>
  <%= @train.departure %>
</div>

<div class="row">
  <b>Arrival:</b>
  <%= @train.arrival %>
</div>

<div class="row">
  <b>Carrier:</b>
  <%= @train.carrier %>
</div>

<div class="row">
<%= link_to 'Edit', edit_train_path(@train) , :class => 'button' %>
<%= link_to 'Back', trains_path , :class => 'button alert' %>
</div>