<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="row">
		<div class="twelve columns">
			<nav class="top-bar">
        <ul>
          <li class="name">
            <a href="/">
              TrainToster
            </a>
          </li>
        </ul>

        <ul class="right">
          <li class="has-dropdown">
          <% if current_user %>
            <a href="#">
              Welcome, <%= current_user.name %>!</a>
            <ul class="dropdown">  
              <li>
                <%= link_to "Sign Out", signout_path, :class => "small round button" %>
              </li>
            </ul>
          <% else %>
            <a href="#">You&rsquo;re not logged in.</a>
            <ul class="dropdown">
              <%= form_tag "/auth/identity/callback" do %>
                <li><%= label_tag :auth_key, "Email" %></li>
                <li><%= text_field_tag :auth_key %></li>
                <li><%= label_tag :password %></li>
                <li><%= password_field_tag :password %></li>
                <li><%= submit_tag "Login",  :class => "small round button"  %></li>
                <li class="divider"></li>
                <li><label>Don&rsquo;t have an account?</label></li>
                <li><center><%= link_to "Sign In", new_identity_path, :class => "small radius button" %></center></li>
              <% end %>
            </ul>
          <% end %>
          </li>
        </ul>
			</nav>
		</div>
	</div>

	<%= yield %>

</body>
</html>